body{margin:0;padding:0;font-family:sans-serif;--primary-color:#55b;}

h1{text-align:center;margin:50px auto;}

.modal{display:none;width:100vw;height:100vh;position:fixed;top:0;left:0;flex-direction:column;justify-content:space-around;color:white;background-color:rgba(0,0,0,0.9)}
.modal *{margin:auto;}

#addBtn{height:50px;width:50px;border-radius:50%;background-color:var(--primary-color);color:white;line-height:50px;font-size:36px;text-align:center;position:fixed;top:50px;right:50px;}

.closeBtn{display:inline-block;height:50px;width:50px;line-height:50px;font-size:36px;text-align:center;background-color:#111;position:absolute;top:50px;right:50px;}

#list{margin-top:200px;width:720px;max-width:100%;margin:auto;}

.pseudoTxtarea{height:250px;overflow:auto;max-width:100%;width:720px;background-color:#ccc;color:#333;font-size:20px;padding:1em;}

.pseudoBtn{padding:.75em 1.5em;color:white;font-weight:bold;letter-spacing:.5px;background-color:var(--primary-color);}
#addBtn:hover,.closeBtn:hover,.pseudoBtn:hover{cursor:pointer;}
