*{
    font-family: sans-serif;
}

.bandeau {
    position: absolute;
    background-color: grey;
    width: 1520px;
    height: 200px;;
}

#logo {
    width: 80px;
    height: 80px;
}

/* cadre de bienvenue */

#bienvenue{
    padding: 20px;
}

/*Derniers Messages*/

#messages{
    background-color: gray;
    height: 250px;
    padding: 20px;
}

/* Footer */

footer{
    background-color: gray;
    padding: 10px;
    margin-top: 20px;
    color: white;
    font-size: x-large;
}

#footer{
    display: flex;
    justify-content: space-between;
}

#footer a{
    color: white;
    text-decoration: none;
    cursor:alias;
}

#copy{
    text-align: center;
    font-weight: bold;
}
