*{
    font-family: sans-serif;
}

.bandeau {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(156, 152, 152);
    width: 1520px;
    height: 200px;;
}

#logo img {
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
    height: 180px;
}

.nom_forum {
    color: white;
    font-size: 50px;
    text-align: center;
}

.btn {
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}

ul {
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(110, 104, 104);
    margin: 0;
}

li {
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 5px 3px;
}

/* cadre de bienvenue */

#bienvenue{
    padding: 20px;
}

/*Derniers Messages*/

#messages{
    background-color: gray;
    height: 250px;
    padding: 20px;
}

/* Footer */

footer{
    background-color: rgb(156, 152, 152);
    padding: 10px;
    margin-top: 20px;
    color: white;
    font-size: x-large;
}

#footer{
    display: flex;
    justify-content: space-between;
}

#footer a {
    color: white;
    text-decoration: none;
    cursor: alias;
    margin: 10px 45px 0px 45px;
}

#copy{
    text-align: center;
    /*font-weight: bold;*/
}

#names {
    font-size: 15px;
}